

.caja_principal {
    display: flex;
}

.caja_principal h3 {
    color: antiquewhite;
    background-color: green;
}

.container_tarjeta {
    background-color: green;
    display: flex;
    width: 20em;
    height: 25em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.ingreso_data {
    width: 20em;
    height: 3.5em;
    background-color: aliceblue;

}


#boton_calcular {
    width: 8em;
    height: 3em;
    margin-bottom: 3em;
    background-color: aliceblue;
}

.container_tarjeta img {
    padding-top: 1em;
    width: 60%;
    height: 80%;
    background-color: green;
}

#resultado {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 25em;
    justify-content: center;
    align-items: center;
}

#result_color_selection {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: antiquewhite;

}

#resultado p {

    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    


}